
* {
    padding: 0px;
    margin:0px;

}
.container{
    max-width: 1600px;
    margin: 0px auto;}
    
nav{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 24px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    width: 365hug;
    
}

nav ul li a{
 text-decoration: none;
}
nav ul li a:hover{
    color: rgb(0, 0, 0);
    font-weight: 500;
  border: 1.5px solid rgb(235, 49, 29);
  border-radius: 6px;
  border-bottom: 3px solid rgb(146, 13, 117);
  
  padding: 8px;
}
 .btn{

    background-color:#469165;
    width: 175px;
    height: 44px;
    border-radius: 9px;
    font-size: larger;
    font-weight: 600;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: white;}

  .btn:hover{
    background-color: rgb(72, 96, 158);
    color: white;
    border: 2px solid rgb(238, 50, 206);
    
}
.hero-container {
    background-image: url(./image/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 664px;
   

}

.hero-content {
    text-align: center;
    color: white;
   
}

.hero-content h2 {
    font-size: 48px;
    font-weight: bold;
    
}
.hero-content .text {
    font-size: 18px;
    margin-top: 16px;
}
.hero-buttons{
    display: flex;
    gap:10px;
    justify-content: center;
    margin-top: 25px;
}
.btn2{
    background-color:transparent;
    width: 178px;
    height: 44px;
    border-radius: 9px;
    font-size: 17px;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}
.btn2:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(3, 149, 40);
    
}
button{
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #30B868;
}
button:hover{
    background-color: rgb(72, 96, 158);
    color: white;
    border: 2px solid rgb(238, 50, 206);}
