
* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;

}
.container{
    max-width: 1600px;
    margin: 0px auto;}
    
nav{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 24px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    width: 365hug;
    
}

nav ul li a{
 text-decoration: none;
}
nav ul li a:hover{
    color: rgb(0, 0, 0);
    font-weight: 500;
  border: 1.5px solid rgb(235, 49, 29);
  border-radius: 6px;
  border-bottom: 3px solid rgb(146, 13, 117);
  
  padding: 8px;
}
 .btn{

    background-color:#469165;
    width: 175px;
    height: 44px;
    border-radius: 9px;
    font-size: larger;
    font-weight: 600;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: white;}

 .btn:hover{
    background-color: rgb(154, 142, 69);
    color: white;
    border: 2px solid rgb(238, 50, 206);
    
}
    


